/* chart.js style*/
/* Modaali skrollattava */

  
  /* Kaaviot gridissä */
  .chart-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-top: 20px;
  }
  
  /* Jokainen kaavio omassa "kortissaan" */
  .chart-grid canvas {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
  }
  
  .chart-grid canvas {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    padding: 20px;
    width: 100%;           
    max-width: 100%;       
    height: 250px;         
    box-sizing: border-box;
  }
  
  canvas {
    transition: all 0.4s ease-in-out;
  }
  
  