.hero-container {
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: hsla(23, 40%, 96%, 0.199);
    border-radius: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px); 
    line-height: 1.6;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.features, .analysis, .alert {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding-left: 20px;
}

ul li {
    font-size: 18px;
    padding: 5px 0;
    position: relative;
}

h1 {
    font-size: 30px;
    color: #3f675b;
    text-shadow: 1px 1px 4px rgba(255, 252, 248, 0.729); 
    margin-bottom: 15px;
    text-align: center;
}

h2 {
    font-size: 20px;
    color: #3f675b; 
    margin-bottom: 15px;
    text-align: center;
}
p {
    font-size: 18px;
    color: #f5f5f5; 
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); 
}

#user-menu-trigger {
    text-align: center;
}
/*opastus*/
/* Tee lomakekontista suhteellinen sijoitukseen */
.login-box {
    position: relative;
  }
  
  /* Info-nappi ja -teksti oikeaan yläkulmaan lomakkeen sisällä */
  .info-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    z-index: 2;
  }
  
  /* Opastus-teksti */
  .info-label {
    background-color: #3ba66b;
    color: white;
    padding: 4px 10px;
    border-radius: 15px 0 0 15px;
    font-weight: bold;
    font-size: 14px;
  }
  
  /* i-painike */
  .info-icon {
    background-color: #2a7255;
    color: white;
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content p {
    color: #2a5c4a; /* Tumma vihreä */
    text-shadow: none; /* Poistaa valkoisen varjon jos se on käytössä */
  }
  